<nav class="navbar navbar-expand navbar-dark   px-2" style="background-color:#09030b;">
    <div class="side-nav-button p-2 me-3 text-light">
      <!-- <i  *ngIf="loggedIn" class="fa-solid fa-house" routerLink=""></i> -->

      
      <i *ngIf="!loggedIn" class="fa-solid fa-house" routerLink=""></i>
      <i *ngIf="loggedIn" class="fa-solid fa-bars"  (click)="sideNavToggle()"></i>
      <!-- <i   class="fa-solid fa-bars"   ></i> -->
    </div>
 
    <a class="navbar-brand">BusBooking</a>
    
    <div class="navbar-collapse">
    </div>
 

    <span class="example-spacer" >
          <!-- <a  *ngIf="!loggedIn" style="padding-right: 70px;" mat-icon-button class="stup"  href="/registerStudent">Register</a>  -->
<!--               
         <a    mat-icon-button class="stup" routerLink="register">Register</a>
         <a   mat-icon-button class="stup" routerLink="login">Login</a>  -->
         
         <a  *ngIf="!loggedIn" mat-icon-button class="stup" routerLink="register">Register</a>&nbsp;
         <a  *ngIf="!loggedIn" mat-icon-button class="stup" routerLink="login">Login</a> 
          
          <!-- <div *ngIf="loggedIn" class="profile-logo dropstart"> -->
           
              <!-- <button class="btn btn-outline-light " style=" text-transform: capitalize;" data-bs-toggle="dropdown">
                <i class="fa fa-user-circle" aria-hidden="true" style="padding-right:10px;width:20px;height:20px ;"></i>
                {{name}}
              </button> -->

<!-- 
              <ul class="dropdown-menu dropdown-menu-dark">
                <li ><a class="dropdown-item" href="/myProfile">Your Profile</a></li>

                <li *ngIf="role=='ADMIN'"><a class="dropdown-item" routerLink="adminDashboard">DashBoard</a></li>
                <li *ngIf="role=='NORMAL'"><a class="dropdown-item" routerLink="normalDashboard">DashBoard</a></li> 
                <li><a class="dropdown-item" href="#" (click)="logoutUser()">Log Out</a></li>
              </ul> -->

              
          <!-- </div>  -->
         <!-- <a  mat-icon-button class="stup">{{name}}</a>  -->


          <a *ngIf="loggedIn" class="stup" (click)="logoutUser()">Logout</a>
    </span>
</nav> 