<div class="container">
    <div class="bus">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="busForm" (ngSubmit)="updateData()">
                    <h1>Update Bus </h1>
                    <div class="form-group">
                        <label for="busNumber">Bus Number</label>
                        <input class="form-control" type="text" [(ngModel)]="buses.busNumber"
                        formControlName="busNumber"  required
                         name="busNumber" id="busNumber"
                             required placeholder="Enter Bus Number">
                     <div class="form-text text-danger" 
                     *ngIf="busNumber.errors?.['required'] && (busNumber.touched || busNumber.dirty) ">
                     *Bus Number Required
                    </div> 

                    <div class="form-text text-danger" 
                    *ngIf="busNumber.errors?.['minlength'] ">
                    *Bus Number is too Short
                   </div> 

                   <div class="form-text text-danger" *ngIf="busNumber.errors?.['pattern'] && busNumber.touched">
                    *Bus Number Should Be Valid Indian Vehicle Plate Number(Eg: AP 04 EW 1234 or WB 06 F 5977)
                </div>
                    </div>
                    <!-- 
        <div class="form-group ">
            <label for="busName" class="text-success">Name</label>
            <input type="text" #busName="ngModel" ngModel name="busName" id="destination" class="form-control" required
                placeholder="Enter Bus Name">
            <div *ngIf="busName.touched && busName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div> -->

                    <div class="form-group">
                        <label for="startingPoint">Source
                        </label>
                        <input type="text" [(ngModel)]="buses.source" name="source" id="source" class="form-control" formControlName="source"
                            required placeholder="Enter Starting point">
                        
                            <div class="form-text text-danger"
                            *ngIf="source.errors?.['required'] && (source.touched || source.dirty)">
                            *Source is Required
                        </div>
                        <div class="form-text text-danger" *ngIf="source.errors?.['minlength']">
                            *Source is too short
                        </div>

                        <div class="form-text text-danger" *ngIf="source.errors?.['pattern'] && source.touched">
                            *Source Should start with Alphabet
                        </div>

                    </div>
                    <!-- [(ngModel)]="category.title" -->

                    <div class="form-group">
                        <label for="endingPoint">Destination
                        </label>
                        <input type="text" [(ngModel)]="buses.destination" name="destination" id="destination"
                            class="form-control" formControlName="destination" required placeholder="Enter ending point">
                            <div class="form-text text-danger"
                            *ngIf="destination.errors?.['required'] && (destination.touched || destination.dirty)">
                            *Destination is Required
                        </div>
                        <div class="form-text text-danger" *ngIf="destination.errors?.['minlength']">
                            *Destination is too short
                        </div>

                        <div class="form-text text-danger"
                            *ngIf="destination.errors?.['pattern'] && destination.touched">
                            *Destination Should start with Alphabet
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="totalSeats">Total Seats
                        </label>
                        <input type="number" [(ngModel)]="buses.totalSeats" name="totalSeats" id="totalSeats"
                            class="form-control" formControlName="totalSeats" required placeholder="Enter Total Seats">
                            <div class="form-text text-danger"
                            *ngIf="totalSeats.errors?.['required'] && (totalSeats.touched || totalSeats.dirty)">
                            *Total Seats is Required
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cost">Bus Fare</label>
                        <input type="text" [(ngModel)]="buses.price" name="price" id="price" class="form-control"
                           formControlName="price" required placeholder="Enter Ticket Price">
                           <div class="form-text text-danger"
                           *ngIf="price.errors?.['required'] && (price.touched || price.dirty)">
                           *Price is Required
                       </div>
                    </div>
{{buses.busType}}
                    <div class="form-group">
                        <label for="busType">Bus Type</label>
                        <select [(ngModel)]="buses.busType" class="form-control" formControlName="busType" id="busType" name="busType"
                         aria-label="Enter Bus Type" >
                            <option disabled selected value="">Select Bus</option>
                            <option  value="AC" name="buses.busType"  >AC</option>
                            <option  value="NON/AC" name="buses.busType"  >NON/AC</option>
                            <div class="form-text text-danger"
                            *ngIf="busTypee.errors?.['required']  && (busTypee.touched || busTypee.dirty)">
                               *Bus Type Required
                         </div>
                        </select>
                       
                    </div>

          

                    
                    <div class="form-group">
                        <label for="driverName">Driver Name</label>
                        <input type="text" [(ngModel)]="buses.driverName" name="driverName" id="driverName" class="form-control"
                          formControlName="driverName"  required placeholder="Enter Driver Name">
                          <div class="form-text text-danger"
                          *ngIf="driverName.errors?.['required'] && (driverName.touched || driverName.dirty ) ">
                          *Driver Name is Required
                      </div>
                      <div class="form-text text-danger" *ngIf="driverName.errors?.['minlength']">
                          *Driver Name is too Short
                      </div>
                      <div class="form-text text-danger" *ngIf="driverName.errors?.['pattern'] && driverName.touched">
                          *Driver Name Should start with Alphabet
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Phone  Number</label>
                        <input type="text" [(ngModel)]="buses.phoneNumber" name="phoneNumber" id="phoneNumber" class="form-control"
                         formControlName="phoneNumber"   required placeholder="Enter Driver Phone Number">
                         <div class="form-text text-danger"
                         *ngIf="phoneNumber.errors?.['required'] && phoneNumber.touched ">
                         *Phone number required
                     </div>
                     <div class="form-text text-danger" *ngIf="phoneNumber.errors?.['pattern'] && phoneNumber.touched"> 
                         *must have only digits
                         
                     </div>

                     <div class="form-text text-danger"
                         *ngIf="phoneNumber.errors?.['minlength'] && phoneNumber.touched">
                         *min numbers 10 only
                     </div>
                     <div class="form-text text-danger"
                         *ngIf="phoneNumber.errors?.['maxlength'] && phoneNumber.touched">
                         *max numbers 10 only
                     </div>
                    </div>

                    <div style="margin-left: 400px;">
                        <button type="submit" class="btn btn-primary float-right" [disabled]="busForm.invalid">Update </button>&nbsp;
                        <button type="reset" class="btn btn-info float-right">Clear </button> &nbsp;
                        <button class="btn btn-danger float-right" routerLink="/addBus">Cancel </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>